<!DOCTYPE html>
<html id="home"> 
<head>
    <title>{{ config.title }}</title>
    <link rel="alternate" type="application/rss+xml" href="/rss" title="OSMDonetsk RSS feed">
</head>

<body>
    <h1>{{ config.title }}</h1>
    <img src="{{ url }}spark.cgi?type=impulse&d={{ counts_list }}&height={{ max_count }}&limits=-1,{{ max_count }}&upper={{ average }}&above-color=red&below-color=black&width=2"/><br/><br/>
    <a href="{{config.twitter_url}}">@{{config.twitter_username}}</a>
    <a type="application/rss+xml" href="/rss">RSS</a>
    <ul>
    {% for c in changesets%}
        <li>
        <a href="http://www.openstreetmap.org/user/{{c.user}}">{{c.user}}</a>:
        {% if c.comment %}
        {{c.comment}}
        {% endif %}
        <a href="http://www.openstreetmap.org/browse/changeset/{{c.id}}">{{c.created_at|date:"M d"}}</a>
        </li>
    {% endfor %}
    </ul>
    <div>
        <a href="/admin">Admin</a>
    </div>
    <div>
        <br/>
        <a href="https://github.com/dudarev/osmtweet" style="color:red">Fork me on Github</a>
    </div>
</body>
</html>
