<!DOCTYPE html>
<html id="home"> 
<head>
    <title>{{ config.title }}</title>
    <link rel="alternate" type="application/rss+xml" href="/rss" title="OSMDonetsk RSS feed">
</head>

<body>
    <h1>{{ config.title }}</h1>
    <a href="{{config.twitter_url}}">@{{config.twitter_username}}</a>
    <a type="application/rss+xml" href="/rss">RSS</a>
    <ul>
    {% for c in changesets%}
        <li>
        <a href="http://www.openstreetmap.org/user/{{c.user}}">{{c.user}}</a>:
        {% if c.comment %}
        {{c.comment}}
        {% endif %}
        <a href="http://www.openstreetmap.org/browse/changeset/{{c.id}}">{{c.created_at|date:"M d"}}</a>
        </li>
    {% endfor %}
    </ul>
    <a href="/admin">Admin</a>
</body>
</html>
